@model Assigment02_BussinessObject.User
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

@if (ViewBag.ErrMsg != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrMsg
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="user_id" />

            @*<div class="form-group">
            <label for="CategoryId">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label for="PublisherName">Email</label>
                <input asp-for="email_address" class="form-control" />
                <span asp-validation-for="email_address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="City">Souce</label>
                <input asp-for="source" class="form-control" />
                <span asp-validation-for="source" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="State">FirstName</label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Country">MiddleName</label>
                <input asp-for="middle_name" class="form-control" />
                <span asp-validation-for="middle_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Country">LastName</label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Country">HireDate</label>
                <input asp-for="hire_date" class="form-control" />
                <span asp-validation-for="hire_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
